body {
  background: #f1f4f9;
}

.App {
  display: flex;
}

.window {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.empty__route {
  display: inline-block;
  width: 80%;
  margin: 40px auto;
}
